<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body> 
    <header class="main-header">  
        <div class= 'main-header-top-bar'>
            <img src="/images/logo-mercado-liebre.svg" class="Logo">

            <form class="barraBusqueda" action="#" method="post" target="_blank">
                <p>
                    <input type="search" name="busquedacodigo" pattern="[A-Za-z0-9]{8,20}" title="Un código válido consiste en una cadena con 8 a 20 caracteres, cada uno de los cuales es una letra o un dígito" required>
                    <input type="submit" value="Buscar">
                </p>
            </form>

            <h2 class="header-2">
                <i class="fas fa-hand-holding-usd"></i>
                Compra en cuotas y sin tarjeta de credito
            </h2>
        </div>

            <a href="#" class="hamburguer">
                <i class="fas fa-bars"></i>
            </a>

        <nav class="main-navbar">
            <ul class="main-navbar-left">
                <li><a href="#"> Ofertas</a></li>
                <li><a href="#"> Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="main-navbar-right">
                <li><a href="#">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header> 
    <section class="main-slider">
        <div class="main-slider-container">
            <img src="/images/img-home-banner.jpg" class="banner">
        </div>

    </section>

       <h3 class= 'titles'>Basado en su ultima visita</h3>     
    <main> 
            <div class='article'>
                <img src="/images/img-cafetera-moulinex.jpg" width="100%" alt="Cafetera"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price"> $6.770 </item>
                    <item class="discount">40% off </item>
                </div>
                <div>
                    <item class="description">Cafetera Moulinex </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-macbook-pro-2019.jpg" width= '100%'  alt="MacBook"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price"> $230.000</item> 
                    <item class="discount"> 20% off</item>
                </div>    
                <div>
                    <item class="description"> MacBook Pro 2019 </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-samsung-galaxy-s10.jpg" width="100%" alt="Samsung"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price">$70.500 </item> 
                    <item class="discount"> 10% off</item>
                </div>    
                <div>
                    <item class="description"> Samsung Galaxy S10</item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-tv-samsung-smart.jpg" width="100%" alt="Samsung"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price">$23.200 </item>
                    <item class="discount"> 5% off</item>
                </div>    
                <div>
                    <item class="description"> SmartTv Samsung 43"</item>
                </div>
            </div>
    </main>
    
        <h3 class= 'titles'>Seccion de Ofertas</h3>
    
    <main>   
            <div class='article'>
                <img src="/images/img-cafetera-moulinex.jpg" width = '100%' alt="Cafetera"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price"> $6.770 </item>
                    <item class="discount">40% off </item>
                </div>   
                <div>
                    <item class="description">Cafetera Moulinex </item>
                 </div>
            </div>
            <div class='article'>
                <img src="/images/img-macbook-pro-2019.jpg" width = '100%' alt="MacBook"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price"> $230.000</item> 
                    <item class="discount"> 20% off</item>
                </div>    
                <div>
                    <item class="description"> MacBook Pro 2019 </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-samsung-galaxy-s10.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price">$70.500 </item> 
                    <item class="discount"> 10% off</item>
                </div>    
                <div>
                    <item class="description"> Samsung Galaxy S10</item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-tv-samsung-smart.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <i class="fas fa-truck"></i>
                    <item class="price">$23.200 </item>
                    <item class="discount"> 5% off</item>
                </div>    
                <div>
                    <item class="description"> SmartTv Samsung 43"</item>
                </div>
            </div>
    </main>   
    <footer>
        <ul type = 'none'>
        <li>
            <i class="fas fa-credit-card icon"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            
            Con Mercado Liebre Cash, tenés cuotas sin interés 
            con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </li>
        <br>
        <li>
            <i class="fas fa-gift icon"></i>
            <h3>Envio gratis desde $2.500 </h3>
            Solo por estar registrad@ en Mercado Liebre tenés 
            envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </li>
        <br>
        <li>
            <i class="fas fa-user-shield icon"></i>
            <h3>Seguridad, de principio a fin </h3>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada 
            que no puedas hacer, porque estás siempre protegid@.
        </li>
        <br>
        <li>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </li>
        
        </ul>
    </footer>

</body>
</html>