<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">    
    <script src="https://kit.fontawesome.com/a97ec517a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>MercadoLiebre</title>
</head>
<body>
    <header>  
        <img src="/images/logo-mercado-liebre.svg" width = '25%' alt="Logo">
        <div class="field" id="searchform">
            <input type="text" id="searchterm" placeholder="Que estas buscando?" />
            <button type="button" id="search">Encuentralo!</button>
          
            <div><i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta de credito</div>
           
        </div>
        <nav>
            <ul type = 'none'>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
                <br>
                <li>Crea tu cuenta<i class="far fa-address-card"></i></li>
                <li>Ingresa <i class="fas fa-sign-in-alt"></i></li>
                <li>Mis compras <i class="fas fa-shopping-basket"></i></li>
            </ul>
            <br>
            <i class="fas fa-bars hamburguer"></i>
        </nav>
        
    </header> 
    <main> 
        <h3 class= 'titles'>Basado en su ultima visita</h3>
            <div class='article'>
                <img src="/images/img-cafetera-moulinex.jpg" width = '100%' alt="Cafetera"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price"> $6.770 </item>
                    <br>
                    <item class="discount">40% off </item>
                    <br>
                    <item class="description">Cafetera Moulinex </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-macbook-pro-2019.jpg" width = '100%' alt="MacBook"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price"> $230.000</item> 
                    <br>
                    <item class="discount"> 20% off</item>
                    <br>
                    <item class="description"> MacBook Pro 2019 </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-samsung-galaxy-s10.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price">$70.500 </item> 
                    <br>
                    <item class="discount"> 10% off</item>
                    <br>
                    <item class="description"> Samsung Galaxy S10</item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-tv-samsung-smart.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price">$23.200 </item>
                    <br>
                    <item class="discount"> 5% off</item>
                    <br>
                    <item class="description"> SmartTv Samsung 43"</item>
                </div>
            </div>
        <br>
        <h3 class= 'titles'>Seccion de Ofertas</h3>
            <div class='article'>
                <img src="/images/img-cafetera-moulinex.jpg" width = '100%' alt="Cafetera"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price"> $6.770 </item>
                    <br>
                    <item class="discount">40% off </item>
                    <br>
                    <item class="description">Cafetera Moulinex </item>
                 </div>
            </div>
            <div class='article'>
                <img src="/images/img-macbook-pro-2019.jpg" width = '100%' alt="MacBook"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price"> $230.000</item> 
                    <br>
                    <item class="discount"> 20% off</item>
                    <br>
                    <item class="description"> MacBook Pro 2019 </item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-samsung-galaxy-s10.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price">$70.500 </item> 
                    <br>
                    <item class="discount"> 10% off</item>
                    <br>
                    <item class="description"> Samsung Galaxy S10</item>
                </div>
            </div>
            <div class='article'>
                <img src="/images/img-tv-samsung-smart.jpg" width = '100%' alt="Samsung"> 
                <div class="article-container">
                    <br>
                    <i class="fas fa-truck"></i>
                    <br> 
                    <item class="price">$23.200 </item>
                    <br>
                    <item class="discount"> 5% off</item>
                    <br>
                    <item class="description"> SmartTv Samsung 43"</item>
                </div>
            </div>
    </main>   
    <footer>
        <ul type = 'none'>
        <li>
            <i class="fas fa-credit-card icon"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            
            Con Mercado Liebre Cash, tenés cuotas sin interés 
            con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
        </li>
        <br>
        <li>
            <i class="fas fa-gift icon"></i>
            <h3>Envio gratis desde $2.500 </h3>
            Solo por estar registrad@ en Mercado Liebre tenés 
            envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
        </li>
        <br>
        <li>
            <i class="fas fa-user-shield icon"></i>
            <h3>Seguridad, de principio a fin </h3>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada 
            que no puedas hacer, porque estás siempre protegid@.
        </li>
        <br>
        <li>
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </li>
        
        </ul>
    </footer>

</body>
</html>