/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    font-size: 12px;
    background: #EAC926;

}

.main-header{
    background: #EAC926;
    padding: 20px;
}

.logo {
    width: 50px;
}



.header-2 {
    display: flex;
    font-weight: 400;
    text-align: center; 
    align-items: center;
}

.hamburguer {
    background-color: #03264C;
    color: white;
    display: block;
    max-width: 50px;
    border-radius: 8px;
    padding: 15px 0px;
    text-align: center;
    font-size: 18px;
    margin: auto;

}

.main-navbar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0px;
    font-size: 17px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 90%;
    margin: 10px;
    text-align: center;

}

.banner {
    width: 100%;
}

.article {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
    background-color: white;
    padding: 1em;
}
.article i {
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #fff;
    border-radius: 50%;
    position: absolute left;
    right: 20px; 
    top: -15px;
}
.article-container{
    box-sizing: border-box;
    display: flex;
    border-top: 1px solid #ebebeb;
    flex-wrap: wrap;
    height: 80%;
    width: 100%;
    align-self: flex-end;

}

.titles {
    font-size: 24px ;
}

.price {
    font-size: 18px;
    flex-grow: 1;

}

.description, .discount {
    font-size: 16px;
}

.discount {
    flex-grow: 1;
}


footer {
    text-align: center;
    background-color: #fff;
  
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #03264C;
}

@media (max-width: 360px) {
.description { display: none;}
nav { display: none;}
.barraBusqueda {
    max-width: 50%;
}
.logo {
    max-width: 50%;
}
}

@media (min-width:361px) {
.article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.hamburguer {
    display: none;
}

}

@media (min-width: 769px) {
    .main-header-top-bar {
        display: flex;
        justify-content: space-between;
    }
    .header-2 {
        max-width: 350px;
        text-align: right;
    }
    .main-navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-navbar ul {
        display: flex;
    }
    .main-navbar li {
        margin: 0px 5px;
    }
    .article {
        max-width: 380px;
    }

}

@media (min-width: 1200px) {
    .logo {
        width: 250px;
    }
    .main-header-top-bar, .main-navbar {
        max-width: 1200px;
        margin: auto;
    }
    .main-navbar {
        margin-top: 30px;
    }    
    .main-navbar li {
        margin: 0px 10px;
    }
    .main-navbar a {
        font-size: 19px;
    }
    .header-2 {
        max-width: none;
        font-size: 22px;
        font-weight: 400;
    }
    .article {
        max-width: 300px;
    }
}